
* {
    margin: 0;
    padding: 0;
}
p {
   width: 50px;
}
body {
    background-image: url(https://images.unsplash.com/photo-1590767187868-b8e9ece0974b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
div {
    width: 40px;
    height: 40px;
    color: white;
    background-color: blue;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    position: fixed;
    left: 50px;
    top: 50%;
}
span {
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
}